/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
} */

:root {
    --progress-bar-color: #fb607f;
    --textarea-focus-border-color: #fb607f;	
    --textarea-border-color: black;
    --textarea-inside-color: #2e2d2d;
    --text-inside-color: #b6b6b6;
}
    
.custom-progress-bar .p-progressbar-value {
    background-color: var(--progress-bar-color) !important;
}

.p-textarea {
    border: 1px solid var(--textarea-border-color) !important;
    background-color: var(--textarea-inside-color) !important;
    color: var(--text-inside-color) !important;
}


/* .p-dialog-header {
    display: none !important;
} */

.p-confirmdialog-accept-button {
    background-color: #fb607f !important;
    border:1px solid #fb607f !important;
}

.p-confirmdialog-accept-button:hover {
    background-color: #e08b9c !important;
}

.p-toast-message {
    color: #e1dede !important;
    background-color: #141213 !important;
    border:2px solid #e1dede !important;
}

.p-toast-detail {
    color: #e1dede !important;
}